<!-- <p>adventure-menu works!</p> -->
<div class="adventure-menu">
    <div class="header card">
        <button routerLink="/game-mode-selection">
            <img src="/assets/arrow.svg" alt="">
        </button>
        <span class="title">Menu d'aventure</span>
    </div>
    <div class="adventure-selector card">
        <!-- Explications d'aventure -->
        <div *ngFor="let adventure of adventures; let i = index" class="adventure card" [class]="isSelected(adventure)" (click)="selectAdventure(adventure)">
            {{adventure.getName()}}
        </div>
    </div>
    <div class="buttons card">
        <button class="start-btn" (click)="launchAdventure()">Démarrer "{{selected_adventure.getName()}}"</button>
    </div>
</div>
