.graph-constructor {
    height: 100%;

    .canvas {
        height: 80%;
        overflow: hidden;

        * {
            width: 100%;
            height: 100%;
        }
    }

    .tools {
        height: 15%;
        margin-top: 1%;
        display: flex;
        justify-content: space-around;

        .card {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        button {
            flex: 1;
        }

        img {
            width: 10%;
            margin-bottom: 2%;
        }
    }
}
