<div id="top-hud">
    <div id="top-hud-turn-information">
        <div id="top-hud-turn-information-number" class="card">
            Tour n°{{getTurnCount()}}
        </div>
        <div id="top-hud-turn-information-details" class="card">
            Placez vos pions
        </div>
    </div>
</div>

<div id="visualizer" class="card"></div>

<div id="bottom-hud" class="card">
    <div id="games-action">
        <button *ngIf="gameMode == 'easy'" (click)="seeWarningZone()">Zone de danger</button>
        <button *ngIf='getTurnCount() !== 0' (click)="validateTurn()">Valider le tour</button>
        <button *ngIf='!isGameActionEmpty() && getTurnCount() !== 0' (click)="cancelAction()">Annuler action</button>
    </div>
</div>