<div id="top-hud">
    <div id="top-hud-menu-button" class="card">
        <button (click)="gameManager.goBackToMenu()"><img class="menu-button-img-preview" src="assets/board/home.svg"/></button>
        <button (click)="replay()"><img class="menu-button-img-preview" src="assets/board/refresh.svg"/></button>
        <button (click)="displayInfo()">
            <img class="menu-button-img-preview" src="assets/board/info.svg" alt="">
        </button>
    </div>
    <div id="top-hud-turn-information">
        <div id="top-hud-turn-information-number" class="card">
            <span *ngIf="getRemainingTurnCount() > 0">
                Nombre de tours restant : {{getRemainingTurnCount()}}
            </span>
            <span *ngIf="getRemainingTurnCount() == 0">
                Dernier tour de jeu.
            </span>
            <span *ngIf="getRemainingTurnCount() < 0">
                Fin de partie !
            </span>
        </div>
        <div id="top-hud-turn-information-details" class="card">
            Chargement du plateau de jeu ...
        </div>
    </div>
</div>

<div id="visualizer" class="card"></div>

<div id="bottom-hud" class="card">
    <div id="games-action">
        <button *ngIf='isNodeMoveable()' [class]="getMovingNodeClass()" (click)="moveNodeMode()">Déplacer les sommets</button>
        <button *ngIf="gameMode == 'easy'" (click)="seeWarningZone()">Zone de danger</button>
        <button [disabled]="!gameHasStarted() || !isPlayerTurn()" (click)="validateTurn()">Finir son tour</button>
        <button *ngIf="gameMode !== 'extreme'" [disabled]="isGameActionEmpty() || getTurnCount() === 0" (click)="cancelAction()">Annuler action</button>
    </div>
</div>