<div id="top-hud">
    <div id="top-hud-menu-button" class="card">
        <button (click)="gameManager.goBackToMenu()"><img class="menu-button-img-preview" src="assets/board/home.svg"/></button>
        <button (click)="replay()"><img class="menu-button-img-preview" src="assets/board/refresh.svg"/></button>
        <button (click)="displayInfo()">
            <img class="menu-button-img-preview" src="assets/board/info.svg" alt="">
        </button>
    </div>
    <div id="top-hud-turn-information">
        <div id="top-hud-turn-information-number" class="card">
            Nombre de tours restant : {{getRemainingTurnCount()}}
        </div>
        <div id="top-hud-turn-information-details" class="card">
            Chargement du plateau de jeu ...
        </div>
    </div>
</div>

<div id="visualizer" class="card"></div>

<div id="bottom-hud" class="card">
    <div id="games-action">
        <button *ngIf="gameMode == 'easy'" (click)="seeWarningZone()">Zone de danger</button>
        <button [disabled]="!gameHasStarted()" (click)="validateTurn()">{{gameMode === 'extreme' ? 'Passer son tour' : 'Valider le tour'}}</button>
        <button *ngIf="gameMode !== 'extreme'" [disabled]="isGameActionEmpty() || getTurnCount() === 0" (click)="cancelAction()">Annuler action</button>
    </div>
</div>