<div class="game-menu">

    <div class="card header">
        <button routerLink="/admin">Administration</button>
        <h1 class="title">Voici le menu de paramétrage du jeu</h1>
        <button routerLink="/graph-constructor">Éditeur de graphe</button>
    </div>
    
    <div class="game-param">

        <div class="col1">
            <div class="graph-selection">
                <div class="graph-generation card" (click)="selectGraphGeneration()" [class]="isSeletectedGraphGeneration()">
                    <h2 class="subtitle">Générer un plateau de jeu</h2>
                    <div class="graph-generation-topology-selection">
                        <div class="graph-topology-preview-list">
                            <div class="graph-topology-preview-list-item card" *ngFor='let type of availableGraphType' (click)="selectGraphType(type)" [class]="isSelectedGraphType(type)">
                                <img id="{{type}}" class="graph-topology-preview-list-item-img" src="assets/{{type}}.svg">
                                <label for="{{type}}">{{translator.graphTypeName(type)}}</label>
                            </div>
                        </div> <!-- .graph-topology-preview-list -->
                    </div> <!-- .graph-generation-topology-selection -->
                    
                    <div *ngIf="paramsNames.length > 0" class="graph-generation-parameters">
                        <h2 class="subtitle">Paramètres supplémentaires</h2>
                        <form class="form-field">
                            <label *ngIf="paramsNames.length > 0" for="param1" class="form-field-labels">
                                {{paramsNames[0]}}
                            </label>
                            <input *ngIf="paramsNames.length > 0" [(ngModel)]="graphParam1" min="1" oninput="validity.valid||(value='');" id="param1" class="form-field-inputs" type="number" name="param1">
                            <label *ngIf="paramsNames.length > 1" for="param2" class="form-field-labels">
                                {{paramsNames[1]}}
                            </label>
                            <input *ngIf="paramsNames.length > 1" [(ngModel)]="graphParam2" min="1" oninput="validity.valid||(value='');" id="param2" class="form-field-inputs" type="number" name="param2">
                        </form>
                    </div> <!-- .graph-generation-parameters -->
                </div> <!-- .graph-generation -->
    
                <div class="graph-importation card" (click)="selectGraphImportation()" [class]="isSeletectedGraphImportation()">
                    <h2 class="subtitle">Importer un plateau de jeu</h2>
                    <input id="graph-file-input" name="graph-file-input" class="input-file" type="file" accept="application/json" (change)="onFileChange($event.target.files[0])">
                    <label id="label-import-file" for="graph-file-input" class="file-label"> 
                        <span *ngIf="!selectedFileName">Choissisez un fichier...</span>
                        <span *ngIf="selectedFileName"> {{selectedFileName}} </span>
                    </label>
                </div> <!-- .graph-importation -->
            </div> <!-- .graph-selection -->
        </div> <!-- .col1 -->

        <div class="col2">
            <div class="oponent-selection card">
                <h2 class="subtitle">Choisissez votre adversaire</h2>
                <div class="player-option">
                    <div class="player-option-item card" *ngFor="let type of availableOpponentType" [class]='isSelectedOponent(type)' (click)="selectPlayer(type)">
                        <img id="{{type}}" class="vs" src="assets/vs_{{type}}.svg"/>
                        <label for="{{type}}">{{translator.opponentTypeName(type)}}</label>
                    </div>
                </div> <!-- .player-option -->

                <div class="ai-side" *ngIf='selectedOpponentType === "ai"'>
                    <h2 class="subtitle">Choisissez votre camp</h2>
                    <div class="side-selection">
                        <div class="side-selection-list">
                            <div class="side-selection-list-item" for="cops" (click)="setSelectedAi('cops')" [class]="isSelectedCopsAi()">
                                <img class="side-selection-list-item-img-preview" for="cops" src="assets/thief.svg"/>
                                <label for="cops">Voleur</label>
                                <input [(ngModel)]="selectedAi" type="radio" id="cops" name="ai-side" value="cops">
                            </div>
                            <div class="side-selection-list-item" for="thief" (click)="setSelectedAi('thief')" [class]="isSelectedThiefAi()">
                                <img class="side-selection-list-item-img-preview" for="thief" src="assets/police.svg"/>
                                <label for="thief">Policier</label>
                                <input [(ngModel)]="selectedAi" type="radio" id="thief" name="ai-side" value="thief">
                            </div>
                        </div> <!-- .side-selection-list -->
                    </div> <!-- .side-selection -->
                </div> <!-- .ai-side -->
            </div> <!-- .oponent-selection -->
    
            <div class="cops-number-selection card">
                <h2 class="subtitle">Choisissez un nombre de policiers</h2>
                <form class="form-field">
                    <div class="form-field-labels">
                        <label for="copsNum">
                            Nombre de policier : 
                        </label>
                    </div>
                    <div class="form-field-inputs">
                        <input [(ngModel)]="cops" min="1" max="5" oninput="validity.valid||(value='');" id="copsNum" type="number" name="cops">
                    </div>
                </form> <!-- .form-field -->
            </div> <!-- .cops-number-selection -->
    
            <div class="difficulty-selection card">
                <h2 class="subtitle">Choisissez une difficulté</h2>
                <div class="difficulty-selection-list">
                    <div class="difficulty-selection-list-item" [class]="isSelectedEasy()">
                        <label for="mode1">Facile</label>
                        <input [(ngModel)]="gameModeSelected" type="radio" id="mode1" name="mode" value="easy">
                    </div>
                    <div class="difficulty-selection-list-item" [class]="isSelectedMedium()">
                        <label for="mode2">Normal</label>
                        <input [(ngModel)]="gameModeSelected" type="radio" id="mode2" name="mode" value="medium">
                    </div>
                    <div class="difficulty-selection-list-item" [class]="isSelectedHard()">
                        <label for="mode3">Difficile</label>
                        <input [(ngModel)]="gameModeSelected" type="radio" id="mode3" name="mode" value="hard">
                    </div>
                </div> <!-- .difficulty-selection-list -->
            </div> <!-- .difficulty-selection -->
        </div> <!-- .col2 -->
    </div> <!-- .game-param -->

    <div class="submit-buttons card">
        <button (click)="validateParams()">Commencer la partie</button>
    </div>
    
</div>
