::ng-deep body {
    background-color: Gainsboro;
}

.selected {
    border: 5px solid purple !important;
    border-radius: 0.5em;
    opacity: 1 !important;
}

.card {
    margin: 0.2em;
    background-color: snow;
    border-radius: 1em;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
}

.form-field {
    height: 100%;
    margin: 0.5em;
    display: grid;
    gap: 0.5em 0.5em;
    grid-template-columns: [labels]auto [inputs]auto;
    place-items: stretch;
    place-content: center;

    .form-field-labels {
        font-weight: bold;
        grid-column: labels;
    }

    .form-field-inputs {
        grid-column: inputs;
    }

    input[type=number] {
        // TODO pour faire de plus beaux inputs
    }
}

.game-menu {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;

    .title, .subtitle {
        text-align: center;

    } // all .title and .subtitle in .game-menu

    .subtitle {
        margin: 0;
    }

    .game-param {
        flex: 1;
        display: flex;
        justify-content: stretch;
        flex-wrap: wrap;

        .col1 {
            flex: 1;
            display: flex;
            flex-direction: column;

            .graph-selection {
                display: flex;
                flex-direction: column;
                flex: 1;
                
                > * {
                    margin: 0.2em;
    
                } // all .graph-selection childs
    
                .graph-generation {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    padding: 0.5em;
                    opacity: 0.5;
    
                    .graph-generation-topology-selection {
    
                        .graph-topology-preview-list {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
        
                            .graph-topology-preview-img {
                                min-width: 100px;
                                min-height: 100px;
                                width: 15%;
                                height: auto;
                                box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
                                margin: 1em;
                                padding: 0.5em;
    
                            } // .graph-topology-preview-img
    
                        } // .graph-topology-preview-list
    
                    } // .graph-generation-topology-selection
    
                    .graph-generation-parameters {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 1em;
    
                    } // .graph-generation-parameters
    
                } // .graph-generation
    
                .graph-importation {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 0.5;
                }
    
            } // .graph-selection
        }

        .col2 {
            flex: 1;
            display: flex;
            flex-direction: column;

            .oponent-selection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0.5em;
    
                .player-option {
                    display: flex;
                    justify-content: center;
    
                    img {
                        min-width: 100px;
                        min-height: 100px;
                        width: 15%;
                        height: auto;
                        margin: 1em;
                        padding: 0.5em;
                        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
                    }
    
                } // .players-param
    
            } // .oponent-selection
    
            .cops-number-selection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0.5em;

            } // .cops-number-selection
    
            .difficulty-selection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                padding: 0.5em;

                .difficulty-selection-list {
                    display: flex;

                    > * {
                        flex: 1;
                    }

                    .difficulty-selection-list-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0.5em;
                        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);

                        label {
                            font-weight: bold;
                            text-align: center;
                            width: 100%;
                        }

                        input {
                            display: none;
                        }
                    }
                }

            } // .difficulty-selection

        } // .col2

    } // .game-param

    .submit-buttons {
        text-align: center;
        padding: 1em 1em 1em 1em;

        button {
            padding: 1em;
            border-radius: 5em;
            width: 75%;
        }
    }

} // .game-menu

// .title {
//     text-align: center;
// }

// .subtitle {
//     text-align: center;
// }

// .game-param {
//     display: flex;
//     flex: 1;
//     align-items: stretch;
//     justify-content: space-around;
// }

// .graph-selection {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
//     border: 1px solid black;
//     margin-right: 0.3em;
// }

// .graphImg {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
// }

// .topo {
//     width: 150px;
//     height: 150px;
//     border: 1px solid black; //Temporaire
//     margin: 2%;
// }

// .parameters {
//     flex: 1;
//     border: 1px solid black;
//     margin-left: 0.3em;
// } 

// .form-field {
//     margin: 1%;
// }

// .form-field label {
//     display: inline-block;
//     min-width: 25%;
//     text-align: center;
// }

// .form-field input {
//     padding: 1% 2%;
//     outline: none;
//     border: none;
//     border-bottom: 1px solid gray;
// }

// form .form-field input {
//     width: 5%;
// }

// div > .form-field input {
//     width: 20%;
// }

// .form-field input:focus {
//     border-bottom: 2px solid green;
// }

// .buttons {
//     margin: 1% 0 1% 0;
//     align-self: center;
// }

// .horizontal-separation {
//     width: 90%;
//     text-align: center;
    
// }

// .vs {
//     border: 1px solid black;
//     width: 150px;
//     height: 150px;
//     margin: 1%;
// }

// .play-opt {
//     display: flex;
// }

// .selected {
//     border: 5px solid purple
// }

