<div class="game-mode-selection">
    <div class="game-mode card" (click)="configureFreeGame()">
        <img src="assets/mode-selection/free-game.svg">
        Mode libre
    </div>
    <div class="game-mode card" (click)="configureAdventure()">
        <img src="assets/mode-selection/adventure.svg">
        Aventure (Bêta)
    </div>
    <div class="game-mode card" routerLink="/graph-constructor">
        <img src="assets/mode-selection/editor.svg">
        Éditeur de graphe
    </div>
</div>
